@import "../../main/mixin.scss";
@import "../../main/variable.scss";

.telegram{
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 0%;
	right: 0%;
	background-color: #333;
	z-index: 4;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.10);
	box-shadow: 0px 4px 4px 0px $mainColor inset;
	@include flex-box(center, center);
	margin-bottom: 30px;
	margin-right: 30px;
	transition: 0.5s;
	&__bg{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background: $mainColor;
		@include flex-box(center, center);
		cursor: pointer;

	}
	&:hover{
		transition: 0.5s;
		transform: rotate(-30deg);
		box-shadow: 0px -4px 4px 0px #FFC12F inset;
	}

}

@media screen and(max-width: 600px) {
	.telegram{
		width: 80px;
		height: 80px;
		margin-bottom: 20px;
		margin-right: 20px;
		&__bg{
			width: 50px;
			height: 50px;
			
			svg{
				width: 30px;
				height: 30px;
			}
		}
	}
	
}